1) Print all elements of a list using for loop.

In [1]:

my_list = [1, "Apple", 3, 27]
for i in my_list:
    print(i)

1
Apple
3
27

2) Using range(1,101), make two list, one containing all even numbers and other containing all odd numbers.

In [5]:

even_list = []
odd_list = []
for i in range(1,101):
    if i%2 == 0:
        even_list.append(i)
    else:
        odd_list.append(i)

print("Even numbers: ", even_list)
print("\n")
print("Odd numbers: ", odd_list)

Even numbers:  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]


Odd numbers:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

3) A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years. Ask user for their salary and year of service and print the net bonus amount.

In [30]:
#Ask user for salary and year of service

while True:
    salary = input("Enter your salary: ")
    yos = input("How many years have you been in service: ")
    bonus = 0
    
    #try if user enetered valid numbers
    try:
        salary = float(salary)
        yos = float(yos)
        if yos > 5:
            bonus = 0.05*salary
        net_bonus = bonus
        print("Net Bonus Amount: ", bonus)
        break
        
    except:
        print("Error! Enter valid salary/year of service")
        continue

Enter your salary: 7
How many years have you been in service: 9
Net Bonus Amount:  0.35000000000000003

4) Take input of age of 3 people by user and determine oldest and youngest among them.

In [32]:
# Take input of ages
age_list = []
age1 = int(input("Enter first person's age: "))
age_list.append(age1)

age2 = int(input("Enter second person's age: "))
age_list.append(age2)

age3 = int(input("Enter third person's age: "))
age_list.append(age3)

youngest = min(age_list)
oldest = max(age_list)

print("Youngest is", youngest, "years")
print("Oldest is", oldest, "years")

Enter first person's age: 65
Enter second person's age: 8
Enter third person's age: 90
Youngest is 8 years
Oldest is 90 years

5) A school has following rules for grading system:  
a. Below 25 -F  
b. 25 to 45 -E  
c. 45 to 50 -D  
d. 50 to 60 -C  
e. 60 to 80 -B  
f. Above 80 -A  
Ask user to enter marks and print the corresponding grade.

In [47]:
#Collect mark from user
mark = float(input("Enter your mark: "))

if mark < 25:
    grade = "F"
elif mark < 45:
    grade = "E"
elif mark < 50:
    grade = "D"
elif mark < 60:
    grade = "C"
elif mark < 80:
    grade = "B"
else:
    grade = "A"

print("Your grade is:", grade)

Enter your mark: 90
Your grade is: A

6) Write a Python script to merge two Python dictionaries

In [36]:
dict1 = {"Lagos": "Ikeja", "Ogun": "Abeokuta", "Osun": "Osogbo"}
dict2 = {"Delta": "Asaba", "Bayelsa": "Yenogoa", "Benue": "Makurdi"}
#merge dict1 and dict2

dict3 = {**dict1, **dict2}
print(dict3)

{'Lagos': 'Ikeja', 'Ogun': 'Abeokuta', 'Osun': 'Osogbo', 'Delta': 'Asaba', 'Bayelsa': 'Yenogoa', 'Benue': 'Makurdi'}


7) Write a Python program to remove a key from a dictionary.

In [37]:
my_dict = {'Lagos': 'Ikeja', 'Ogun': 'Abeokuta', 'Osun': 'Osogbo', 'Delta': 'Asaba', 'Bayelsa': 'Yenogoa', 'Benue': 'Makurdi'}
del my_dict["Osun"]
print(my_dict)

{'Lagos': 'Ikeja', 'Ogun': 'Abeokuta', 'Delta': 'Asaba', 'Bayelsa': 'Yenogoa', 'Benue': 'Makurdi'}

8) Write a Python program to get the largest number from a list

In [44]:
a_list = [1,4,5,3,90,54,6,10]

highest = a_list[0]
for i in a_list:
    if i > highest:
        highest = i
        
print(highest)

90